*.o
.clangd
obj/
a.out
proto
test00
test01
test02
test03
test04
test05
test06
testMod00
testMod01
testMod02
testMod03
testMod04
testMod05
testEx00
testEx01
testEx02
testEx03
testEx04
testEx05
testEx06
zombie